@charset "UTF-8";

/* ----- 表設定 ----- */
table, th, td{
	border: solid 1px #000;
}
table{
	border-collapse: collapse;
	margin: 0 auto;
}
th{
	width: 200px;
	background-color: #eee;
	font-weight: normal;
	text-align: left;
	vertical-align: middle;
}
td{
	width:400px;
	background-color: #fdfdfd;
}
th,td{
	border-bottom: 1px solid #bbb;
	padding: 20px;
}
tr:first-child{
	border-top: 1px solid #bbb;
}
.bikou{
	text-align: center;
}