<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>商品情報編集</title>
		<link th:href="@{/css/admin.css}" rel="stylesheet" type="text/css">
	</head>
<body>
	<div id="wrapper">
		<header>
			<h1>商品情報編集</h1>
		</header>
		<main>
			<div class="card">
				
				<form th:action="@{/admin/product/update}"
				th:object="${productForm}"
				method="post"
				enctype="multipart/form-data"
				class="product-form">
					  
					<!-- productId -->
					<input type="hidden" th:field="*{productId}" value="{productForm.productId}">
					
					<div class="form-group">
						<label>タイトル</label>
						<input type="text" th:field="*{productName}" value="{productForm.productName}">
						<span th:if="${#fields.hasErrors('productName')}"
							  th:errors="*{productName}" class="errors"></span>
					</div>
					<div class="form-group">
						<label>種別</label>
						<select th:field="*{productCategory}" value="{productForm.productCategory}">
							<option value="CD">CD</option>
							<option value="DVD">DVD</option>
						</select>
					</div>
					<div class="form-group">
						<label>クリエイター</label>
						<input type="text" th:field="*{creator}" value="{productForm.creator}">
						<span th:if="${#fields.hasErrors('creator')}"
							  th:errors="*{creator}" class="errors"></span>
					</div>
					<div class="form-group">
						<label>アライバル</label>
						<input type="date" th:field="*{arrivalDate}"value="{productForm.arrivalDate}">
					</div>
					<div class="form-group">
						<label>リリース</label>
						<input type="date" th:field="*{releaseDate}"value="{productForm.releaseDate}">
					</div>
					<div class="form-group">
						<label>商品画像</label>
						<input type="file" th:field="*{imageFile}">
						<div th:if="${productForm.thumbnail}">
							<p>現在の画像：</p>
							<img th:src="@{/images/{img}(img=${productForm.thumbnail})}"
							alt="サムネイル" style="width:100px; height:auto;">
						</div>
					</div>
					<div class="form-actions">
						<a th:href="@{/admin/product/list}" class="btn">戻る</a>
						<button type="submit" class="btn" name="update">更新</button>
					</div>
					<div th:if="${errorMessage}" class="danger">
						<p th:text="${errorMessage}"></p>
					</div>
				</form>
			</div>
		</main>
	</div>
</body>
</html>
