<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>レンタル状況</title>
		<link th:href="@{/css/admin.css}" rel="stylesheet" type="text/css">
	</head>
<body>
	<div id="wrapper">
		<header>
		レンタル状況
		</header>
		<table>
			<table>
				<block th:each=" product : ${productlist}">
					<tr>
						<td th:text="${product.productName}"></td>
						<td >
							<div th:if="${#lists.isEmpty(product.cartList)}">〇</div>
							<div th:if="${!#lists.isEmpty(product.cartList)}">×</div>
							
						</td>
					</tr>
				</block>
				
			</table>
		</main>
		<footer></footer>
	</div>
</body>
</html>