<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>管理者ページ</title>
		<link th:href="@{/css/admin.css}" rel="stylesheet" type="text/css">
	</head>
<body>
	<div id="wrapper">
		<header>
			 <h1>CD/DVDレンタル 管理画面</h1>
			 <div class="admin-name">管理者：admin</div>
		</header>
		<div th:if="${successMessage}" class="alert alert-success">
		<p th:text="${successMessage}"></p>
	</div>
		<div class="container">
			<nav>
				<ul>
					<li><a th:href="@{/admin/Productlist}">商品管理</a></li>
					<li><a th:href="@{/admin/Userlist}">会員管理</a></li>
					<li><a th:href="@{/admin/RentalStatus}">レンタル状況</a></li>
					<li><a th:href="@{/logout}">ログアウト</a></li>
				</ul>
			</nav>
	<main>
		
		
		<div class="card">
    <h3>レンタル状況</h3>
    <p>
        現在レンタル中：
        <span th:text="${rentalCount}">0<span> 件
    </p>
    <p>
        返却遅延：
        <span th:text="${lateReturnCount}">0</span> 件
    </p>
        <a th:href="@{/admin/rentalStatus}" class="btn">
            詳細を見る
        </a>
    </div>
</div>
	</main>
</div>

</body>
</html>