<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>商品管理</title>
		<link th:href="@{/css/admin.css}" rel="stylesheet" type="text/css">
	</head>
<body>
	<div id="wrapper">
		<header>
			<h1>商品管理</h1>
			
			<form th:action="@{/admin/product/list}" method="get" class="search-form">
			<input type="text" name="productName" placeholder="商品名で検索"
			th:value="${param.productName}">
			<button type="submit">検索</button>
			</form>
		</header>
		
		<a th:href="@{/admin}" class="btn">戻る</a>
		
		<main>
			<div class="card">
				<div class="list-header">
					<a th:href="@{/admin/product/new}" class="btn">＋ 商品追加</a>
				</div>
				<table class="product-table">
					<thead>
						<tr>
							<th>ID</th>
							<th>タイトル</th>
							<th>種別</th>
							<th>クリエイター</th>
							<th>アライバル</th>
							<th>リリース</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						
						<!-- 商品がある場合 -->
						<tr th:each="product : ${productList}">
							<td th:text="${product.productId}"></td>
							<td th:text="${product.productName}"></td>
							<td th:text="${product.productCategory}"></td>
							<td th:text="${product.creator}"></td>
							<td th:text="${product.arrivalDate}"></td>
							<td th:text="${product.releaseDate}"></td>
							<td>

								<form th:action="@{/admin/product/update}" method="Get">

								<input type="hidden" name="productId" th:value="${product.productId}">
								<button type="submit" class="btn">編集</button>
								</form>
								<form th:action="@{/admin/product/delete}" method="post"
								 onsubmit="return confirm('この商品を削除しますか？');" style="display:inline;">
								<input type="hidden" name="productId" th:value="${product.productId}">
								<button type="submit" class="btn">削除</button>
								</form>
							</td>
						</tr>
						
						<!-- 商品が0件の場合 -->
						<tr th:if="${#lists.isEmpty(productList)}">
							<td colspan="6">商品が登録されていません</td>
						</tr>
					</tbody>
				</table>
			</div>
		</main>
	</div>
</body>
</html>