<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>返却処理</title>
		<link th:href="@{/css/admin.css}" rel="stylesheet" type="text/css">
	</head>
<body>
	<div id="wrapper">
		<header>
		
		</header>
		<main>
			<span th:text="${message}"></span>
		<table>
			<tr>
				<th>商品名</th>
				<th>ユーザーID</th>
				<th>ユーザー名</th>
				<th>処理</th>
			</tr>
			<tr th:each="cart:${returnlist}">
				<td th:text="${cart.product.productName}"></td>
				<td th:text="${cart.userId}"></td>
				<td th:text="${cart.user.userName}"></td>
				<td>
					<form th:action="@{/admin/return}" method="post">
						<input type="hidden" name="userId" th:value="${cart.userId}">
						<input type="hidden" name="productId" th:value="${cart.product.productId}">
						<input type="submit" value="返却"> 
					</form>
				</td>
			</tr>
		</table>
		</main>
		<footer></footer>
	</div>
</body>
</html>