<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>商品登録</title>
		<link th:href="@{/css/admin.css}" rel="stylesheet" type="text/css">
	</head>
<body>
	<div id="wrapper">
		<header>
			 <h1>商品登録</h1>
		</header>
		<main>
			<div class="card">
				<form th:action="@{/admin/product/new}" 
				th:object="${productForm}" 
				method="post" 
				enctype="multipart/form-data"
				class="product-form">
					
					<div class="form-group">
						<label>タイトル</label>
						<input type="text" th:field="*{productName}">
					</div>
					<div class="form-group">
						<label>種別</label>
						<select th:field="*{productCategory}">
							<option value="CD">CD</option>
							<option value="DVD">DVD</option>
						</select>
					</div>
					<div class="form-group">
						<label>アライバル</label>
						<input type="date" th:field="*{arrivalDate}">
					</div>
					<div class="form-group">
						<label>リリース</label>
						<input type="date" th:field="*{releaseDate}">
					</div>
					<div class="form-group">
						<label>商品画像</label>
						<input type="file" th:field="*{imageFile}" accept="image/*">
					</div>
					<div class="form-actions">
						<a th:href="@{/admin/product/list}" class="btn">戻る</a>
						<button type="submit" class="btn" name="forward">登録</button>
					</div>
					<div th:if="${errorMessage}" class="danger">
						<p th:text="${errorMessage}"></p>
					</div>
				</form>
			</div>
		</main>
	</div>
</body>
</html>