<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>ユーザー管理</title>
		<link th:href="@{/css/admin.css}" rel="stylesheet" type="text/css">
	</head>
<body>
	<div id="wrapper">
		<header>
			<h1>ユーザー管理</h1>
			
			<form th:action="@{/admin/user/list}" method="get" class="search-form">
			<input type="text" name="email" placeholder="e-mailで検索"
			th:value="${param.email}">
			<button type="submit">検索</button>
			</form>
		</header>
		<main>
			<div class="card">
				<span th:text="${message}"></span>
				<table class="product-table">
					<thead>
						<tr>
							<th>ID</th>
							<th>氏名</th>
							<th>メールアドレス</th>
							<th>プラン</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						
						<!-- ユーザーが登録されている場合 -->
						<tr th:each="user : ${userList}">
							<td th:text="${user.userId}"></td>
							<td th:text="${user.userName}"></td>
							<td th:text="${user.email}"></td>
							<td th:text="${user.planName}"></td>
							<td>
								<form th:action="@{/admin/user/update}" method="get">
								<input type="hidden" name="email" th:value="${user.email}">
								<button type="submit" class="btn">編集</button>
								</form>
								
								<form th:action="@{/admin/user/delete}" method="post"
								 onsubmit="return confirm('このユーザーを削除しますか？');" style="display:inline;">
								<input type="hidden" name="userId" th:value="${user.userId}">
								<button type="submit" class="btn delete">削除</button>
								</form>
								
							</td>
						</tr>
						
						<!-- ユーザーが0件の場合 -->
						<tr th:if="${#lists.isEmpty(userList)}">
							<td colspan="5">ユーザーが登録されていません</td>
						</tr>
					</tbody>
				</table>
			</div>
		</main>
	</div>
</body>
</html>