<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>レンタル状況</title>
		<link th:href="@{/css/admin.css}" rel="stylesheet" type="text/css">
	</head>
<body>
	<div id="wrapper">
		<header>
		レンタル状況
		</header>
		<span th:text="${message}"></span>
			<table>
				<th:block th:each=" product : ${productlist}">
					<tr>
						<td th:text="${product.productName}"></td>
						<td >
							<div th:if="${#lists.isEmpty(product.cartList)}">
								<form th:action="@{/admin/rental/service}" method="get">
									<input type="submit" value="rental処理へ"> 
									<input type="hidden" name="productName" th:value="${product.productName}">
									<input type="hidden" name="productId" th:value="${product.productId}">
								</form>
							</div>
							<div th:if="${!#lists.isEmpty(product.cartList)}">貸出中</div>
							
						</td>
					</tr>
				</thblock>
				
			</table>
		</main>
		<footer></footer>
	</div>
</body>
</html>