<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>ホーム画面</title>
		<link th:href="@{/common.css}" rel="stylesheet" type="text/css">
		<link th:href="@{/css/padding.css}" rel="stylesheet" type="text/css">
		
	</head>
<body>
<div id="wrapper">
	<!--<header th:insert="~{header :: header_area}"></header>-->
		
	<main>
		<div id="form-area2">
			<table>
				<tr>
					<th>商品名</th>
					<th>カテゴリ</th>
					<th>ステータス</th>
					<th>削除</th>
				</tr>
					<th:block th:each="c : ${cartList}">
						<tr><!--↓Listに加えたやつに変更してください！ -->
							<td th:text="${c.product.productName}"></td>
							<td th:text="${c.product.productCategory}"></td>
							<td th:text="${c.status}"></td>
							<td>
								<form th:action="@{/cart}" method="post">
									<input type="hidden" name="userId" th:value="${c.userId}">
									<input type="hidden" name="productId" th:value="${c.productId}">
									<input type="submit">削除</input>
								</form>
							</td>
						</tr>
					</th:block>
			</table>
		</div>
	</main>
<footer></footer>
	</div>
</body>
</html>