<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>ホーム画面</title>
		<link th:href="@{/css/common.css}" rel="stylesheet" type="text/css">
		<link th:href="@{/css/cart.css}" rel="stylesheet" type="text/css">
		
	</head>
<body>
<div id="wrapper">
	<header th:insert="~{header :: header_area}"></header>
	<header>
	<h2 class="page-title">カート</h2>
	<hr>
	</header>
	<main>
		<div id="form-area">
			<table class="table-cart">
				<tr>
					<th>商品名</th>
					<th>カテゴリ</th>
					<th>ステータス</th>
					<th>削除</th>
				</tr>
					<th:block th:each="c : ${cartList}">
						<tr><!--↓Listに加えたやつに変更してください！ -->
							<td th:text="${c.product.productName}"></td>
							<td th:text="${c.product.productCategory}"></td>
							<td th:text="${c.status}"></td>
							<td>
								<form th:action="@{/cart}" method="post">
									<input type="hidden" name="userId" th:value="${c.userId}">
									<input type="hidden" name="productId" th:value="${c.productId}">
									<input type="submit" value="削除" class="btn"></input>
								</form>
							</td>
						</tr>
					</th:block>
			</table>
		</div>
	</main>
	<footer th:insert="~{footer :: footer_area}"></footer>
	</div>
</body>
</html>