<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>ホーム画面</title>
		<link th:href="@{/common.css}" rel="stylesheet" type="text/css">
	</head>
<body>
<div id="wrapper">
	<header th:insert="~{header :: header_area}"></header>
	
	<main> 
		<div id="form-area">
			
			<div th:block th:each="p : ${productList}" class="product-box">
				<p><span th:text="${p.productId}"></span></p>
				<p><span th:text="${p.productCategory}"></span></p>
				<p><span th:text="${p.productName}"></span></p>
				<p><span th:text="${p.arrivalDate}"></span></p>
				<p><span th:text="${p.releaseDate}"></span></p>
				<hr>
			</div>
			
		</div> 
	</main>
</div>
</body>
</html>