<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>ホーム画面</title>
		<link th:href="@{/css/common.css}" rel="stylesheet" type="text/css">
		
	</head>
<body>
<div id="wrapper">
	<header th:insert="~{header :: header_area}"></header>
	
	<main> 
		<span th:text="${errorMessage}"></span>
		<span th:text="${successMessage}"></span>
		<div id="form-area">
			<table class="table-common">
    <tr>
        <th>プロダクトID</th>
        <th>プロダクトカテゴリー</th>
        <th>プロダクトネーム</th>
        <th>アライバル</th>
        <th>リリース</th>
        <th>サムネイル</th>
        <div sec:authorize="isAuthenticated()">
        </div>
    </tr>
    

    <th:block th:each="p : ${productList}">
        <tr>
            <td th:text="${p.productId}" class="productId"></td>
            <td th:text="${p.productCategory}" class="productCategory"></td>
            <td th:text="${p.productName}" class="productName"></td>
            <td th:text="${p.arrivalDate}" class="arrivalDate"></td>
            <td th:text="${p.releaseDate}" class="releaseDate"></td>
            <td style="width: 80px;">
				<img th:src="@{/images/{img}(img=${p.thumbnail})}"
				alt="サムネイル" class="thumbnail"
				style="width:80px; height:auto;">
            </td>
            <td>
    <div sec:authorize="isAuthenticated()">
        <form th:action="@{/cart/add}" method="post">
            <input type="hidden" name="productId" th:value="${p.productId}">
            <input type="hidden" name="searchName" th:value="${searchName}">
            <button type="submit">カートへ追加</button>
        </form>
    </div>
</td>

        </tr>
    </th:block>
</table>
		
		</div> 
	</main>
</div>
</body>
</html>