<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
	<meta charset="UTF-8">
	<title>ログイン画面</title>
	<link th:href="@{/css/common.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/css/login.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="wrapper">
		<header >
			<h1>ログイン</h1>
			<hr>
		</header>
		<main>
			<div id="form-area">
			<form th:action="@{/login}" method="post">
				<div class="form-row">
					<input type="text" name="username" th:value="${username}" size="50" placeholder="ユーザー名">
				</div>
				
				<div class="form-row">
					<input type="password" name="password" size="50" placeholder="パスワード">
				</div>
				
				<div class="form-row">
					<input type="submit" value="ログイン" class="btn">
				</div> 
				
				 <div class="form-row" th:if="${param.error}">
					<span th:text="${error}" class="errors"></span>
				</div>
				
				<div class="form-row link-row">
					<a th:href="@{/refist}">新規登録はこちら</a>
				</div>
				<div class="form-row home-row">
					<a th:href="@{/home}" class="home-btn">HOMEに戻る</a>
				</div>
			</form>
			</div>
		</main>
		<footer th:insert="~{footer :: footer_area}"></footer>
	</div>
</body>
</html>