<!DOCTYPE html>
<html xmlns="http://thymeleaf.org" lang="ja">
<head>
<meta charset="UTF-8">
<title>mypage</title>
<link th:href="@{/css/common.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
	
	 <div id="wrapper"></div>
	 <header th:insert="~{header :: header_area}"></header>
        <header>
            <h2><span class="section_title">マイページ</span><br></h2>
            <hr>
        </header>
        <main>
			<!-- DBから取得した情報を表示 -->
            <div id="form-area" th:object="${userForm}">
                <table class="table">
                    <tr>
                        <th class="th">氏名</th>
                        <td class="td" th:text="*{userName}"></td>
                    </tr>
                    <tr>
                        <th>メールアドレス</th>
                        <td class="td" th:text="*{email}"></td>
                    </tr>
                    <tr>
                        <th>電話番号</th>
                        <td class="td" th:text="*{tel}"></td>
                    </tr>
                    <tr>
                        <th>誕生日</th>
                        <td class="td" th:text="*{birth}"></td>
                    </tr>
                    <tr>
                        <th>住所</th>
                        <td class="td" th:text="*{address}"></td>
                    </tr>
                    <tr>
                        <th>クレジットカード</th>
                        <td class="td" th:text="*{credit}"></td>
                    </tr>
                    <tr>
                        <th>加入プラン</th>
                        <td class="td" th:text="*{planName}"></td>
                    </tr>
                </table>

				<!--退会ボタン-->
					<form th:action="@{/delete}" method="post">
       					 <!--<input type="hidden" th:field="*{userId}">-->
       					 <button type="submit">退会してデータをすべて削除する</button>
					</form>
					
				<!--会員情報変更ボタン-->
					<form th:action="@{/update}" method="post">
						<button type="submit">会員情報を変更する</button>
						
					</form>
				
            </div>
        </main>
</body>
</html>