<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>会員登録確認画面</title>
		<link th:href="@{/css/common.css}" rel="stylesheet" type="text/css">
	</head>
<body>
	<div id="wrapper">
		<header>
			<h1>会員登録確認画面</h1>
			<hr>
		</header>
		<main>
			<div id="form-area">
				<div class="form-row">
					<label th:text="|氏名:${userForm.name}|"></label>
				</div>
				<div class="form-row">
					<label th:text="|Email:${userForm.email}|"></label>
				</div>
				<div class="form-row">
					<label th:text="|電話番号:${userForm.phoneNumber}|"></label>
				</div>
				<div class="form-row">
					<label th:text="|誕生日:${userForm.birthday}|"></label>
				</div>
				<div class="form-row">
					<label th:text="|パスワード:${userForm.password}|"></label>
				</div>
				<div class="form-row">
					<label th:text="|クレジットカード:${userForm.credit}|"></label>
				</div>
				<div class="form-row">
					<label th:text="|カード番号:${userForm.creditnumber}|"></label>
				 </div>
				 <div class="form-row">
					<label th:text="|プラン:${userForm.plan}|"></label>
					
				<div class="form-row">
					<p>ご登録ありがとうございました。</p>
				</div>
				<div class="form-row">
					<p><a href="@{/regist}">戻る</a></p>
				</div>
			</div>
		</main>
		<footer th:insert="~{footer :: _area}"></footer>
	</div>
</body>
</html>