<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>新規登録画面</title>
		<link th:href="@{../static/css/common.css}" rel="stylesheet" type="text/css">
		<link th:href="@{../static/css/style.css}" rel="stylesheet" type="text/css">
	</head>
<body>
	<div id="wrapper">
		<header>
			<h2><span class="section_title">新規登録</span><br></h2>
			<hr>
		</header>
		<main>
			<form th:action="@{/regist}" th:object="${userForm}" method="post">
				<div id="form-area">
					<table>
						<tr>
							<td colspan="2" class="bikou">必要な情報を入力後「確認」ボタンを押してください。</td>
						</tr>
						<tr>
							<th><label for="userName" class="disp-block">氏名</label></th>
							<td>
								<input th:field="*{userName}" size="20">
								<span th:if="${#fields.hasErrors('userName')}"th:errors="*{userName}" class="errors"></span>
							</td>
						</tr>
						<tr>
							<th><label for="email" class="disp-block">メールアドレス</label></th>
							<td>
								<input th:field="*{email}" size="30">
								<span th:if="${#fields.hasErrors('email')}"th:errors="*{email}" class="errors"></span>
							</td>
						</tr>
						<tr>
							<th><label for="address" class="disp-block">住所</label></th>
							<td>
								<input th:field="*{address}" size="30">
								<span th:if="${#fields.hasErrors('address')}"th:errors="*{address}" class="errors"></span>
							</td>
						</tr>
						<tr>
							<th><label for="tel" class="disp-block">電話番号</label></th>
							<td>
								<input th:field="*{tel}" size="20" placeholder="ハイフンなし">
								<span th:if="${#fields.hasErrors('tel')}"th:errors="*{tel}" class="errors"></span>
							</td>
						</tr>
						<tr>
							<th><label for="birth" class="disp-block">誕生日</label></th>
							<td>
								<input th:field="*{birth}" size="15" placeholder="YYYY/MM/DD">
								<span th:if="${#fields.hasErrors('birth')}"th:errors="*{birth}" class="errors"></span>
							</td>
						</tr>
						<tr>
							<th><label for="password" class="disp-block">パスワード</label></th>
							<td>
								<input th:field="*{password}" size="15">
								<span th:if="${#fields.hasErrors('password')}"th:errors="*{password}" class="errors"></span>
							</td>
						</tr>
						<tr>
							<th><label for="credit" class="disp-block">クレジットカード</label></th>
							<td>
								<input th:field="*{credit}" size="30" placeholder="ハイフンなし">
							</td>
						</tr>
						<tr>
							<th><label for="planName" class="disp-block">プラン</label></th>
							<td>
								<div class="content">
									<label>
										<input type="radio" th:field="*{planName}" value="try">お試しプラン</label>
									<label>
										<input type="radio" th:field="*{planName}" value="bronze">Bronzeプラン</label>
									<label>
										<input type="radio" th:field="*{planName}" value="silver">Silverプラン</label>
									<label>
										<input type="radio" th:field="*{planName}" value="gold">Goldプラン</label>
								</div>
							</td>
						</tr>
						<tr>
							<td colspan="2" class="bikou"><input type="submit" value="確認" class="btn"></td>
						</tr>
					</table>
				</div>
			</form>
		  </div>
		</main>
		<footer th:insert="~{footer :: footer_area}"></footer>
	</div>
</body>
</html>